_pliki
/doc
*.bak
*.bas
*.tap
*.tzx
*.scr
bin/zx7.exe
!examples/*.bas
!examples/*.tap
!examples/*.scr
!examples/*.tzx
*.asm
*.bin
*.zip
*.bz2
*.gz
Thumbs.db
.DS_Store
*.tmp
*~
*.lnk
*.sublime-project
*.sublime-workspace
sftp-config.json
*.tar
*.pdf
*.htm
*.txt
/_basic
/_roms
/_taps
/projects
