_pliki
/doc
/rom
*.bak
*.tap
*.tzx
*.scr
bin/zx7.exe
!examples/*.tap
!examples/*.scr
!examples/*.tzx
*.asm
*.bin
*.zip
*.bz2
*.gz
Thumbs.db
.DS_Store
*.tmp
*~
*.lnk
*.sublime-project
*.sublime-workspace
sftp-config.json
*.tar
*.pdf
*.htm
*.txt
/gdc
zx
zx1
zx2
