_pliki
/doc
*.bak
*.tap
*.tzx
*.scr
!examples/*.tap
!examples/*.scr
!examples/*.tzx
*.asm
*.bin
*.zip
*.bz2
*.gz
zx
Thumbs.db
.DS_Store
*.tmp
*~
*.lnk
*.sublime-project
*.sublime-workspace
sftp-config.json
*.tar
*.pdf
*.htm
*.txt
